html,
body,
#app{
  height: 100%;
  margin: 0;
  padding: 0;
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}

.el-table {
  color: #409EFF;
  padding-left: 0;
  padding-right: 0;
  width: inherit;
}



